<div class="content container-fluid">
    <div class="header text-center text-white">
        <div class="container-fluid col-9 border mt-4 mb-4 border-warning gx-5 p-5 border border-3 container-grey">
            <h1>Stock disponible</h1>
            <div class="container fluid">
                <div class="row">
                    <div class="col-12 col-md-4 p-2">
                        <div class="card w-70">
                            <img src="../../../assets/img/rubia.jpg" class="card-img-top img-responsive">
                            <div class="card-body">
                                <h5 class="card-text text-dark">Rubia Dorada</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">330 cc <span class="badge float-right bg-secondary">6
                                            unidades</span></li>
                                    <li class="list-group-item">600 cc <span class="badge float-right bg-secondary">4
                                            unidades</span>
                                    </li>
                                    <li class="list-group-item">1000 cc <span class="badge float-right bg-secondary">16
                                            unidades</span>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="card w-70">
                            <img src="../../../assets/img/roja.jpg" class="card-img-top img-responsive">
                            <div class="card-body">
                                <h5 class="card-text text-dark">Colorada</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">330 cc <span class="badge float-right bg-secondary">4
                                            unidades</span></li>
                                    <li class="list-group-item">600 cc <span class="badge float-right bg-secondary">24
                                            unidades</span>
                                    </li>
                                    <li class="list-group-item">1000 cc <span class="badge float-right bg-secondary">0
                                            unidades</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 p-2">
                        <div class="card w-70">
                            <img src="../../../assets/img/negra.jpg" class="card-img-top img-responsive">
                            <div class="card-body">
                                <h5 class="card-text text-dark">Porter Outmeal</h5>
                                <ul class="list-group">
                                    <li class="list-group-item">330 cc. <span class="badge float-right bg-secondary">7
                                            unidades</span></li>
                                    <li class="list-group-item">600 cc <span class="badge float-right bg-secondary">31
                                            unidades</span>
                                    </li>
                                    <li class="list-group-item">1000 cc<span class="badge float-right bg-secondary">1
                                            unidad</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>