<div class="content">
    <div class="header text-center text-white">
        <div class="container-fluid col-9 border border-warning  p-5 container-grey mt-5 mb-5">
            <h1>Cocción de Cervezas</h1>

            <div class="container">
                <!--tabla maltas-->
                <table id="Maltas" class="table">
                    <thead class="table-dark">
                        <tr class="col-6">
                            <th scope="col">Maltas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="col-6 table-dark">
                            <th scope="row">Tipo</th>
                            <td>Cantidad (gr)</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row">Pilsen</th>
                            <td>5000</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row">Caramelo</th>
                            <td colspan="2">250</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row"></th>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>

                <!--tabla lupulos-->
                <table id="Lupulos" class="table">
                    <thead class="table-dark">
                        <tr class="col-6">
                            <th scope="col">Lupulos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="col-6 table-dark">
                            <th scope="row">Tipo</th>
                            <td>Cantidad (gr)</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row">Cascade</th>
                            <td>20</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row"></th>
                            <td colspan="2"></td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row"></th>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- tabla otros-->
                <table id="Otros" class="table">
                    <thead class="table-dark">
                        <tr class="col-6">
                            <th scope="col">Otros Ingredientes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="col-6 table-dark">
                            <th scope="row">Tipo</th>
                            <td>Cantidad (gr)</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row">Avena</th>
                            <td>250</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row">Miel</th>
                            <td colspan="2">1000</td>
                        </tr>
                        <tr class="col-6 table-light">
                            <th scope="row"></th>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>