<div class="header">
    <h1 class="container text-white text-center">Lista interna de proveedores</h1>
    <div class="container-sm col-sm-6">
        <div class="table-responsive container d-flex h-100">
            <table class="container container-fluid container-grey 
                table table-hover table-bordered border border-3 
                border-warning text-white table align-middle"
                style="background: rgb(64,61,62); background: radial-gradient(circle, rgba(64,61,62,1) 12%, rgba(29,29,27,1) 100%)">
                <thead>
                    <tr>
                        <td class="align-top">NOMBRE</td>
                        <th> N° DE CONTACTO </th>
                        <td class="align-top">HORARIOS</td>
                        <th> ELEMENTOS O MATERIALES </th>
                    </tr>
                </thead>

                <tr>
                    <td> Domingo </td>
                    <td> 3510303456 </td>
                    <td> Desp. 16 hs </td>
                    <td>Descartables y dioxido</td>
                    <td>
                        <li><a href="index.html">Hacer pedido</a> </li>
                    </td>
                </tr>
                <tr>
                    <td> Alejandra </td>
                    <td> 3510303457 </td>
                    <td> De 8 a 13 por el cole de los chicos </td>
                    <td> Granos, cebada, malta</td>
                    <td>
                        <li><a href="index.html">Hacer pedido</a> </li>
                    </td>
                </tr>
                <tr>
                    <td> Angeles </td>
                    <td> 3510303458</td>
                    <td> - </td>
                    <td> Agua mineral y filtros </td>
                    <td>
                        <li><a href="index.html">Hacer pedido</a> </li>
                    </td>
                </tr>
                <tr>
                    <td> Carolina </td>
                    <td> 3510303459 </td>
                    <td> Hasta las 15 reparte </td>
                    <td> Botellas, etiquetas y material publicitario</td>
                    <td>
                        <li><a href="index.html">Hacer pedido</a> </li>
                    </td>
                </tr>
                <tr>
                    <td> Jessica </td>
                    <td> 3510303460 </td>
                    <td> Jueves y viernes por la tarde, el resto a la mañana </td>
                    <td> Recetas y asesoramiento gral</td>
                    <td>
                        <li><a href="index.html">Hacer pedido</a> </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>