<footer class="bg-dark text-white pt-2 pb-0 container-fluid">
    <div class="container">
        <div class="row text-start text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="
            text-uppercase
            mb-3
            font-weight-bold
            text-warning
            titulo-pie
          ">
                    Beer Friends Stock System
                </h5>
                <p class="pie">
                    Nuestro Software maneja la gestión de tu cervecería: Clientes,
                    Insumos, Stock, Ventas y mucho más..
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text">
                <h5 class="
            text-uppercase
            mb-3
            font-weight-bold
            text-warning
            titulo-pie
          ">
                    Inicio
                </h5>
                <p class="mb-2 mt-2">
                    <a href="stockCerveza.html" class="text-white pie"> Cervezas</a>
                </p>
                <p class="mb-2">
                    <a href="Stockmateriaprima.html" class="text-white pie"> Materias Primas</a>
                </p>
                <p class="mb-2">
                    <a href="pedidosClientes.html" class="text-white pie"> Clientes</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="
            text-uppercase
            mb-3
            font-weight-bold
            text-warning
            titulo-pie
          ">
                    Links
                </h5>
                <p class="mb-2">
                    <a href="login.html" class="text-white pie"> Cuenta</a>
                </p>
                <p class="mb-2">
                    <a href="registroUsuarios.html" class="text-white pie"> Registrarte</a>
                </p>
                <p class="mb-2">
                    <a href="index.html" class="text-white pie">Ayuda</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="
            text-uppercase
            mb-3
            font-weight-bold
            text-warning
            titulo-pie
          ">
                    Contacto
                </h5>
                <p class="mb-3 pie">
                    <i class="fas fa-home mr-3 pie"></i> Alberdi, Cordoba, Argentina
                </p>
                <p class="mb-2 pie">
                    <i class="fas fa-envelope mr-3 pie"></i> bfstocksystem@gmail.com
                </p>
                <p></p>
                <p class="mb-2 pie">
                    <i class="fas fa-phone mr-3 pie"></i> +543518073265
                </p>
            </div>
        </div>

        <hr class="mb-2 mt-0" />

        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="pie">
                    Copyright ©2021 All rights reserved by:
                    <a href="#" style="text-decoration: none">
                        <strong class="text-warning"> BEER FRIENDS STOCK SYSTEM</strong>
                    </a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px"><i
                                    class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 20px"><i
                                    class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>