<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center
        primary-text
        fw-bold
        border-bottom ">
    <div class="container-fluid">
        <i class="fas fa-beer me-5 fs-4 text-uppercase">
            <p>BEER STOCK</p>
        </i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link active  bg-transparent second-text fw-bold" aria-current="page" href="#"> <i
                            class="fas fa-project-diagram me-2"></i>Inicio</a>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-wine-bottle me-2"></i>
                        Cervezas
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Stock</a></li>
                        <li><a class="dropdown-item" href="#">Recetas</a></li>
                        <li><a class="dropdown-item" href="#">Cocción</a></li>
                        <li><a class="dropdown-item" href="#">Pedidos de clientes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-boxes me-2"></i>
                        Materias Primas
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Stock M.P.</a></li>
                        <li><a class="dropdown-item" href="#">Alta de M.P.</a></li>
                        <li><a class="dropdown-item" href="#">Proveedores</a></li>
                    </ul>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link active " href="#" tabindex="-1"> <i
                            class="fas fa-address-book me-2"></i>Contacto</a>
                </li>
                <li class="nav-item dropdown me-4">
                    <a class="nav-link active dropdown-toggle me-4" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-tachometer-alt me-2"></i>
                        Panel de Control
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Registro de Usuario</a></li>
                        <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Administración de
                                Usuarios</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="
                            nav-link
                            dropdown-toggle
                            second-text
                            fw-bold
                            text-warning
                          " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>Ana Perez
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <a class="dropdown-item disabled" href="#">Configuración</a>
                        </li>
                        <li><a class="dropdown-item" href="login.html">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>