<main class="login-design">
    <div class="waves"></div>
    <div class="login">
        <div class="login-data">
            <img src="assets/beer2.png" alt="" />
            <h1>Login</h1>
            <form name="formlogin" action="SvLogin" method="POST" class="login-form">
                <div class="input-group">
                    <label class="input-fill">
                        <input type="email" name="email" id="email" required />
                        <span class="input-label">Email Adress</span>
                        <i class="fas fa-envelope"></i>
                    </label>
                </div>
                <div class="input-group">
                    <label class="input-fill">
                        <input type="password" name="password" id="password" required />
                        <span class="input-label">Password</span>
                        <i class="fas fa-lock"></i>
                    </label>
                </div>
                <a href="registroUsuarios.jsp">New Account</a>
                <input type="submit" value="Login" class="btn-login" />
            </form>
        </div>
    </div>
</main>